<!DOCTYPE html>
<head>
    <style>
        body {
            background-color:darkslateblue;
        }
        h1 {
            font-size:larger;
        }
        #winbox{
            position:relative;
            left:2%;
            top:2%;
            width:90%;
            height:90%;
            background-color:beige;
            border: double 3px darkolivegreen;
            padding:1%;
            
        }
    </style>
</head>
<body>
    <div id="winbox">
    <h1><em><b><u>YOU WIN! The word was: {{word}}</u></b></em></h1>
    <a href="/"> Play again..?</a>
    </div>
</body>